﻿@using ArticleArchitecture.Web.Models
@using ArticleArchitecture.Entities.Entities

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Atic Articles</title>
    <link rel="icon" type="image/x-icon" href="/Assets/images/icons/favicon.png">
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/shop-homepage.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Atic Articles</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (CurrentSession.User != null)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-wrench"></span> Yonetim <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/new-article"><span class="glyphicon  glyphicon-plus"></span> Makale Ekle</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/my-article"><span class="glyphicon  glyphicon-th-list"></span> Makalelerim</a>
                                </li>
                                <li>
                                    <a href="/my-liked-articles"><span class="glyphicon  glyphicon-heart"></span> Begendiklerim</a>
                                </li>
                                @if (CurrentSession.User.IsAdmin)
                                {

                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/new-category"><span class="glyphicon  glyphicon-plus"></span> Kategori Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/category-list"><span class="glyphicon  glyphicon-th-list"></span> Kategoriler</a>
                                    </li>

                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/new-user"><span class="glyphicon  glyphicon-plus"></span> Kullanıcı Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/user-list"><span class="glyphicon  glyphicon-user"></span> Kullanıcılar</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }


                    <li>
                        <a href="/favorites"><span class="glyphicon  glyphicon-star"></span> En Beğenilenler</a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-th-list"></span>  Son Yazılar
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <b>Version : @(System.Reflection.Assembly.GetAssembly(typeof(MvcApplication))?.GetName().Version.ToString())</b>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @if (CurrentSession.User == null)
                    {
                        <li>
                            <a href="/login">
                                <span class="glyphicon glyphicon-log-in"></span> Giriş
                            </a>
                        </li>
                        <li>
                            <a href="/register">
                                <span class="glyphicon glyphicon-list-alt"></span> Üye Ol
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            @if (!string.IsNullOrEmpty(CurrentSession.User.Name) && !string.IsNullOrEmpty(CurrentSession.User.Surname))
                            {
                                <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span> @CurrentSession.User.Name @CurrentSession.User.Surname <span class="caret"></span>
                                </a>
                            }
                            else
                            {
                                <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span> @CurrentSession.User.Username <span class="caret"></span>
                                </a>
                            }
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/showprofile">
                                        <span class="fa fa-user"> Profili Goster</span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/editprofile">
                                        <span class="fa fa-edit"> Profili Duzenle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/User/DeleteProfile" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?');">
                                        <span class="glyphicon glyphicon-trash"></span> Profili Sil
                                    </a>    
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout">
                                <span class="glyphicon glyphicon-log-out"></span> Çıkış
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Atic Articles Created By <a href="https://www.instagram.com/atic.dev/" target="_blank"> Fuat Atik </a> @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>