﻿@using ArticleArchitecture.Entities.Entities
@model List<Article>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4" data-article-id="@item.Id">
            <div class="thumbnail">
                @if (item.ImageFilename != null)
                {
                    <img src="../../Assets/images/article/@item.ImageFilename" alt="@item.Title" style="height: 150px;">
                }
                else
                {
                    <img src="http://placehold.it/320x150" alt="@item.Title">
                }
                <div class="caption">
                    <h4>
                        <a href="#" data-toggle="modal" data-target="#modal_articledetail" data-article-id="@item.Id">
                            @item.Title
                        </a>
                    </h4>
                    <p>
                        @if (!string.IsNullOrEmpty(item.Text) && item.Text.Length > 40)
                        {
                            @(Html.Raw(item.Text.Substring(0, 40)))
                        }
                        else
                        {
                            @Html.Raw(item.Text)
                        }
                    </p>

                    <h6 class="text-right">
                        @item.User.Name @item.User.Surname <span class="glyphicon glyphicon-user"></span><br/>
                        @item.ModifiedOn.ToString("dd/MM/yyyy") <span class="glyphicon glyphicon-time"></span>
                    </h6>
                    <hr/>
                </div>
                <div>
                </div>
                <div class="ratings">
                    <p class="pull-right">
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_comment" data-article-id="@item.Id">
                            <span class="glyphicon glyphicon-comment"></span> Yorumlar
                        </button>
                    </p>
                    <p>
                        <button class="btn btn-default btn-sm" type="button" data-liked="false" data-article-id="@item.Id">
                            <span class="glyphicon glyphicon-star-empty like-star"></span>&nbsp;
                            <span class="like-count">@item.LikeCount</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    }
</div>