﻿@using ArticleArchitecture.Entities.Entities
@model List<Category>

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>
    @foreach (Category item in Model)
    {
    <a href="/category/@item.Id" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @item.Title</a>
    }
</div>