﻿@model ArticleArchitecture.Entities.Entities.User
@{
    ViewBag.Title = "Kullanıcı Detay";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>
        </dl>
        <div class="col-md-8 col-md-offset-2">
            <p>
                <a href="/user-edit/@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Düzenle</a>
                <a href="/user-list" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
            </p>
        </div>
    </div>
</div>