﻿@using ArticleArchitecture.Entities.Entities
@model User
@{
    ViewBag.Title = "Profil Düzenle";
}

<link href="~/Content/validation-summary.css" rel="stylesheet"/>

<div class="container">

    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr/>
    </div>

    <div class="row">
        @using (Html.BeginForm("EditProfile", "User", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="form-horizontal">

                <div class="col-md-3">
                    @if (Model.ProfileImageFile != null)
                    {
                        var convertBase64 = Convert.ToBase64String(Model.ProfileImageFile);
                        var ProfileImageFile = string.Format("data:image/gif;base64,{0}", convertBase64);
                        <img src="@ProfileImageFile" class="img-circle" width="128" height="128"/>
                    }
                    else
                    {
                        <img src="~/Assets/images/users/user-default.png" class="img-circle" width="128" height="128"/>
                    }
                    @Html.HiddenFor(model => model.ProfileImageFile)
                    <br/><br/>
                    <input type="file" name="ProfileImage" id="ProfileImage" class="form-control"/><br/>
                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                    <span>
                        <i>Lütfen jpg, jpeg ya da png formatı kullanın.</i>
                    </span>
                </div>

                <div class="col-md-5">

                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Surname, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", type = "password"}})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-saved"></span> Kaydet</button>
                            <a href="/ShowProfile" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    &nbsp;
                </div>
            </div>
        }
    </div>

</div>