﻿@using ArticleArchitecture.Entities.Entities
@model User

@{
    ViewBag.Title = "Profiliniz";
}


<div class="container">

    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-2">
            @if (Model.ProfileImageFile != null)
               {
                   var convertBase64 = Convert.ToBase64String(Model.ProfileImageFile);
                   var ProfileImageFile = string.Format("data:image/gif;base64,{0}", convertBase64);
                   <img src="@ProfileImageFile" class="img-circle" width="128" height="128" />
               }
               else
               {
                   <img src="~/Assets/images/users/user-default.png" class="img-circle" width="128" height="128" />
               }
        </div>

        <div class="col-md-10">
            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h5><b>@Html.DisplayNameFor(model => model.Username) : </b>@Model.Username</h5>
            <h5><b>@Html.DisplayNameFor(model => model.Email) : </b>@Model.Email</h5>
            <br />
            <h5><a href="#">More... </a></h5>
        </div>

    </div>
</div>