﻿@model ArticleArchitecture.Entities.Entities.Category

@{
    ViewBag.Title = "Kategori Sil";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Kategoriyi Silmek istediğinize emin misiniz?</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-8 col-md-offset-2">
                <p>
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> Kaydet</button>
                    <a href="/category-list" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                </p>
            </div>
        }
    </div>
</div>
