﻿@model ArticleArchitecture.Entities.Entities.Category

@{
    ViewBag.Title = "Kategori Düzenle";
}
<link href="~/Assets/css/validation-summary.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>@Html.DisplayFor(model => model.Title)</h4>
                <hr />
                @Html.ValidationSummary(false)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-saved"></span> Kaydet</button>
                        <a href="/category-list" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>