﻿@model ArticleArchitecture.Entities.Entities.Article

@{
    ViewBag.Title = "Makaleyi Kaldır";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Makaleyi Silmek istediğinize emin misiniz?</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>@Html.DisplayFor(model => model.Category.Title)</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.Raw(Model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDraft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDraft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LikeCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LikeCount)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-8 col-md-offset-2">
                <p>
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> Kaldır</button>
                    <a href="/my-article" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                </p>
            </div>
        }

    </div>

</div>