﻿@model ArticleArchitecture.Entities.Entities.Article

@{
    ViewBag.Title = "Makale Detay";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDraft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDraft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LikeCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LikeCount)
            </dd>

        </dl>
        <div class="col-md-8 col-md-offset-2">
            <p>
                <a href="/article-edit/@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Düzenle</a>
                <a href="/my-article" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
            </p>
        </div>
    </div>
</div>