﻿@model ArticleArchitecture.Entities.Entities.Article

@{
    ViewBag.Title = "Makaleyi Düzenle";
}

<link href="~/Assets/css/validation-summary.css" rel="stylesheet"/>
<script src="~/Assets/ckeditor/ckeditor.js"></script>
<script src="~/Assets/ckeditor/samples/js/sample.js"></script>
<link rel="stylesheet" href="~/Assets/ckeditor/samples/css/samples.css">
<link rel="stylesheet" href="~/Assets/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
<link href="~/Content/validation-summary.css" rel="stylesheet"/>

<div class="row">
    <div class="col-md-5 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-1">
        @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>@Html.DisplayFor(model => model.Title)</h4>
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Text, 5, 30, new {@class = "form-control", @Id = "editor"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageFilename, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-2">
                        @if (Model.ImageFilename != null)
                        {
                            <img src="../../Assets/images/article/@Model.ImageFilename" class="img-thumbnail" width="320" height="150" alt=""/>
                        }
                        else
                        {
                            <img src="http://placehold.it/320x150" class="img-thumbnail" width="320" height="150" alt=""/>
                        }
                        @Html.HiddenFor(model => model.ImageFilename)
                        <br/><br/>
                        <input type="file" name="ImageFilename" id="ImageFilename" class="form-control"/><br/>
                        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                        <span>
                            <i>Lütfen jpg, jpeg ya da png formatı kullanın.</i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsDraft, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDraft)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, "Kategori", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new {@class = "form-control"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-saved"></span> Kaydet</button>
                        <a href="/my-article" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script>
	initSample();
</script>