﻿@model IEnumerable<ArticleArchitecture.Entities.Entities.Article>

@{
    ViewBag.Title = "Makaleler";
}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            <a href="/new-article/" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Yeni Makale</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @if (item.Text.Length > 100)
                        {
                            @Html.Raw(item.Text.Substring(0, 100) + " ...");
                        }
                        else
                        {
                            @Html.Raw(item.Text)
                        }
                    </td>
                    <td>
                        @if (item.IsDraft)
                        {
                            <i class="glyphicon glyphicon-check text-danger"></i>
                        }
                        else
                        {
                            <i class="glyphicon glyphicon-check text-success"></i>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LikeCount)
                    </td>
                    <td width="150">
                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal_comment" data-article-id="@item.Id">
                            <span class="glyphicon glyphicon-comment"></span>
                        </button>

                        <a href="/article-edit/@item.Id" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="/article-detail/@item.Id" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        <a href="/article-delete/@item.Id" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </tr>
            }

        </table>

    </div>

</div>

@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="~/Assets/js/comment.js"></script>
<script src="~/Assets/js/ArticleDetailPopup.js"></script>