﻿@model ArticleArchitecture.Web.Models.HomePageViewModel

@{
    ViewBag.Title = "Anasayfa";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories", Model.Categories)
        </div>
        <div class="col-md-9">
            @Html.Partial("_PartialSlider")
            @Html.Partial("_PartialArticles", Model.Articles)
        </div>
    </div>
</div>

@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
@Bootstrap.ModalPopup(id: "modal_articledetail", title: "Makale Detayı")
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script src="~/Assets/js/comment.js"></script>
<script src="~/Assets/js/like.js"></script>
<script src="~/Assets/js/ArticleDetailPopup.js"></script>