﻿@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1><span class="glyphicon glyphicon-remove-circle"></span> Yetkisiz Erişim</h1>
        <p>
            Bu sayfaya erişim yetkiniz bulunmamaktadır.
            <br /><br />
            <a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-home"></span>  Ana Sayfaya Git!</a>
        </p>
    </div>
</div>