﻿@{
    ViewBag.Title = "Hata Oluştu";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        @{
            Exception ex = null;

            if (TempData["LastError"] != null)
            {
                ex = TempData["LastError"] as Exception;
            }
        }

        <h1><span class="glyphicon glyphicon-remove"></span> Hata Oluştu</h1>
        <p>
            Hata oluştu, lütfen site yöneticisi ile iletişime geçiniz.
            <br /><br /><br />
            @if (ex != null)
            {
                <strong>Hata Detay : </strong>
                @ex.Message
                <br /><br /><br />
            }
            <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"></span> Ana Sayfaya Git!</a>
            <a class="btn btn-primary" href="mailto:fuatatik@outlook.com"><span class="glyphicon glyphicon-envelope"></span> E-Posta Gönder</a>
        </p>

    </div>
</div>