﻿@{
    ViewBag.Title = "Erişim İzniniz Yok";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1><span class="glyphicon glyphicon-remove-circle"></span> Erişim İzni Yok</h1>
        <p>
            Bu sayfaya erişim için hesabını aktif etmelisiniz
            <br /><br />
            <a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-home"></span> Ana Sayfaya Git!</a>
        </p>
    </div>
</div>