﻿@using ArticleArchitecture.Entities.ViewModel
@model RegisterViewModel

    @{
        ViewBag.Title = "Register";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Assets/css/login-register.css" rel="stylesheet" />
    <link href="~/Assets/css/validation-summary.css" rel="stylesheet" />

    @using (Html.BeginForm())
    {
        <section class="login-info">
            <div class="container">
                <div class="row main">
                    <div class="form-header">
                        <h1 class="text-center ">Kayıt Formu</h1>
                    </div>
                    <div class="main-content">

                        @Html.ValidationSummary(false)

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı adınız" })
                        </div>

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "E-posta adresiniz." })
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })
                        </div>

                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Şifreniz(Tekrar)", type = "password" })
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Kayıt Ol</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }

